<%- include("headers/cabecera.index.ejs") %>

  <body>
    <%- include("headers/header.ejs") %>
    <h1 class="p-3 text-center">Bienvenido</h1>
    
    <main>

      <section class=" text-center container">
          <div class="row py-lg-5">
              <div class="col-lg-8 col-md-10 mx-auto">
                  <h1 class="fw-light">Teclers</h1>
                 
                  <form id="categorias">
                      <div class="btn-group" role="group" aria-label="Basic example">
                          <div id="selectCategoria"></div>
                      </div>
                  </form>

                  
                     
                  

              </div>
          </div>
      </section>



      <form id="mostrarProducto">
      <div class="album py-5 bg-light">
          <div class="">
              <div class="row-cols-1">
                
                  <div id="listaMuestraProducto" class="d-flex flex-wrap">
                    
                  </div>
                  
              </div>
          </div>
      </div>
      </form>



  </main>

  <footer class="text-muted py-5">
      <div class="container">
          <p class="float-end mb-1">
              <a href="#">Ir arriba</a>
          </p>
          <p class="mb-1">&copy; 2021 Social Tecler</p>
          

      </div>
  </footer>


  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/index.js"></script>
  <script src='/js/carrito.js'></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"> </script> 
  





</body>
</html>