<%- include("headers/cabecera.index.ejs") %>

  <body>
    <%- include("headers/header.ejs") %>
    <h1 class="p-3 text-center">Nuevo Presupuesto</h1>
    
    
    <div class="container">
      <!-- referencia a ruta create-->
      <h1 class="p-3 text-center" style="text-align: left;font-size: 20px;">Resumen financiero</h1>
      <table class="table  table-striped text-center mt-4">
        <thead class="table-dark">
          <tr class="bg-primary text-white">
            <th scope="col">Ventas</th>
            <th scope="col">Costos</th>
            <th scope="col">Margen</th>
            <th scope="col">%</th>
            
          </tr>
        </thead>
        <tbody>
        
            <tr>
              <td>
                <input type="number" id="userinput" pattern="[0-9]* " readonly>
            </td>
              <td>
                <input type="number" id="userinput" pattern="[0-9]* " readonly>
              </td>
              <td>
                <input type="number" id="userinput" pattern="[0-9]* " readonly>
              </td>
              <td>
                <input type="number" readonly>
              </td>
             
            </tr>
            

        </tbody>
      </table>
    </div>

      <div class="container">
        <h1 class="p-3 text-center" style="text-align: left;font-size: 20px;">Flujo de efectivo</h1>
        <table class="table  table-striped text-center mt-4">
          
        <tbody>
            <thead class="table-dark">
            <tr class="bg-primary text-white">
            <th>/</th>
            <td id="3-2020">3/2020</td><td id="4-2020">4/2020</td><th>Sumatoria</th>
            </thead>
        </tr>
    
        <tr>
            <td>Ingresos</td>
            <td><input type="number" min="0" step="0.01" id="fe-ingresos-1" class="form-control"></td>
            <td><input type="number" min="0" step="0.01" id="fe-ingresos-2" class="form-control"></td>
            <td><input type="text" id="fe-sum-ingresos" class="form-control" readonly=""></td>
        </tr>
        <tr>
            <td>Egresos</td>
            <td><input type="text" id="fe-egresos-1" class="form-control dinero" readonly=""></td>
            <td><input type="text" id="fe-egresos-2" class="form-control dinero" readonly=""></td>
            <td><input type="text" id="fe-sum-egresos" class="form-control" readonly=""></td>
        </tr>
        <tr>
            <td>Total</td>
            <!--negativos en rojo-->
            <td><input type="text" id="fe-total-1" class="form-control dinero" readonly=""></td>
            <td><input type="text" id="fe-total-2" class="form-control dinero" readonly=""></td>
            <td><input type="text" id="fe-sum-total" class="form-control" readonly=""></td>
        </tr>
        <tr>
            <td>Acumulado</td>
            <td><input type="text" id="fe-acumulado-1" class="form-control dinero" readonly=""></td>
            <td><input type="text" id="fe-acumulado-2" class="form-control dinero" readonly=""></td>
            <td></td>
        </tr>
    </tbody></table>
</div>

    <%- include("headers/footer.ejs") %>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="js/eliminarPre.js"></script>
    
  </body>

  </html>