<header>
  <div class="collapse bg-dark" id="navbarHeader">

    <div class="container">

        <div class="row">
            <div class="col-sm-5  py-4">
                <h4 class="text-white">Notificaciones</h4>
                <div id="carrito">
                <table id="lista-carrito" class="table">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

               
                </div>
                <a href="#" id="vaciar-carrito" class="btn btn-primary btn-block">Eliminar solicitudes</a>
                
            </div>
        </div>
    </div>
</div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="/admin" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-badge" viewBox="0 0 16 16">
            <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z"/>
          </svg>
          <strong>Social Tecler</strong>

        </a>

        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Buscar" id="search">
          <button type="button" onclick="buscar()" class="search-icon" >Buscar</button>
      </form>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">

        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chat-square-quote" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M7.066 4.76A1.665 1.665 0 0 0 4 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112zm4 0A1.665 1.665 0 0 0 8 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112z"/>
        </svg>

      </button>
       
        <span style="text-align: center;margin-left: 15px;">
          <div >
           <div id="usuario" style="
           color: white;
       ">
            
           </div>
            
              
            <a href="/login" class="Sing-in-up">Cerrar sesión</a>
           
          </div>
          
        </span>
      </div>
    </div>
    <script>
        
      const usuario= document.getElementById("usuario")
      usuario.innerHTML +=""
      let resultado = JSON.parse(localStorage.getItem('dataUsuario'))
      usuario.innerHTML += `<a> ${resultado.nombre}</a>`


      
      </script>
  </header>